.turing-marine {
  color: $turing--text-color-primary!important;
}

.turing-cyan {
  color: $turing--text-color-cyan!important;
}

.turing-blue {
  color: $turing--text-color-blue!important;
}

.turing-green {
  color: $turing--text-color-green!important;
}

.turing-pink {
  color: $turing--text-color-pink!important;
}

.turing-orange {
  color: $turing--text-color-orange!important;
}

.turing-orange-bold {
  color: $turing--text-color-orange-bold!important;
}

.turing-gray-description {
  color: $turing-text-description!important;
}

.turing-bg {
  background: $turing--bg-color-primary !important;
}

.turing-text-zn {
  //font-size: 24px;
  font-weight: 600;
}

.turing-tourism {
  background-color: $turing--text-color-cyan;
  padding: 0.4rem;
  color: $turing-white;
  border-radius: 25px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: .5em;
  margin-bottom: 7px;

  &:hover {
    color: white;
  }
}

.turing-gastronomy {
  background-color: $turing--text-color-orange;
  padding: 0.4rem;
  color: $turing-white;
  border-radius: 25px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: .5em;
  margin-bottom: 7px;

  &:hover {
    color: white;
  }
}

.turing-hotels {
  background-color: $turing--text-color-green;
  padding: 0.4rem;
  color: $turing-white;
  border-radius: 25px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: .5em;
  margin-bottom: 7px;

  &:hover {
    color: white;
  }
}

.turing-hotels {
  background-color: $turing--text-color-green;
  padding: 0.4rem;
  color: $turing-white;
  border-radius: 25px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: .5em;
  margin-bottom: 7px;

  &:hover {
    color: white;
  }
}

.turing-store {
  background-color: $turing--text-color-pink;
  padding: 0.4rem;
  color: $turing-white;
  border-radius: 25px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: .5em;
  margin-bottom: 7px;

  &:hover {
    color: white;
  }
}

.turing-business {
  background-color: $turing--text-color-primary;
  padding: 0.4rem;
  color: $turing-white;
  border-radius: 25px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: .5em;
  margin-bottom: 7px;

  &:hover {
    color: white;
  }
}


