$color-text: #1B6DC1;

// Color app
$turing--bg-color-primary: #FAFAFA;
$turing-white: #ffffff;
$turing-gray: #f1f3f5;
$turing-text-description: #677482;
$turing--color-icon: #1B6DC0!important;

//Text Color
$turing--text-color-primary: #335578;
$turing--text-color-orange: #fd8f42;
$turing--text-color-cyan: #4da5fb;
$turing--text-color-blue: #006be4;
$turing--text-color-green: #8acd25;
$turing--text-color-pink: #f85f6b;
$turing--text-color-orange-bold: #ff7615;
