.turing--content--business {
  margin-top: 4.1rem;

  .turing--search-content {
    background: #fafafa;
    padding: 1.5em;
    font-size: 18px;
  }

  .turing--searchbar {
    width: 60%;
    height: 46px;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 600;
    font-size: 18px;
  }

  .turing--business-location {
    margin-bottom: 1rem;
    border-bottom: 1px solid #e9ecef87;
    padding-bottom: .4rem;
    margin-top: 1em;
  }

  .turing--card-link {
    color: #f85f6b;
    font-weight: 600;
  }

  .turing--tops {
    padding-top: 1em;
    padding-bottom: 1.5em;
  }

  .turing--mt {
    margin-top: 1em;
    text-align: center;
  }

  .turing-mtop {
    margin-top: 2em;
  }


}