.turing--welcome {
  .display-4 {
    font-size: 2.5rem;
  }

  .turing--container-content {
    background: $turing-white;

    @media (max-width: 768px) {
      .turing--content-1 {
        img {
          width: 350px;
        }
      }

      .turing--content-2 {
        img {
          width: 350px;
        }
      }
    }

    @media (min-width: 768px) {
      .turing--content-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 1.4em;
        padding-top: 2.5em;
        padding-bottom: 2.5em;

        img {
          width: 60%;
        }
      }

      .turing--content-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.4em;
        padding-top: 2.5em;
        padding-bottom: 2.5em;

        img {
          width: 400px;
          margin-top: 1.5em;
        }
      }
    }
  }

  .turing--content--gay {
    background: #fafafa;
  }

  @media (max-width: 767px) {
    .display-3 {
      font-size: 2em;
      text-align: center;
    }

    .turing--group-btn {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 768px) {
    .display-3 {

    }
  }

}