.turing--content--business {
  margin-top: 3.7rem;

  .turing--search-content {
    background: url(/assets/media/img/bg.png) center center no-repeat !important;
    //background: url(https://about.gitlab.com/images/home/unsplash-software-team.png) center center no-repeat !important;
    background-size: cover;
    position: relative;
    padding: 1.5em;
    font-size: 18px;
    width: 100%;
    height: 100%;

    /*&:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(22,22,22,0.8);
    }*/
  }

  .turing--searchbar {
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 600;
    font-size: 18px;
  }

  .turing--business-location {
    margin-bottom: 1rem;
    border-bottom: 1px solid #e9ecef87;
    padding-bottom: .4rem;
    margin-top: 1em;
  }

  .turing--card-link {
    color: #f85f6b;
    font-weight: 600;
  }

  .turing--tops {
    padding-top: 1em;
    padding-bottom: 1.5em;
  }

  .turing--mt {
    margin-top: 1em;
    text-align: center;
  }

  .turing-mtop {
    margin-top: 2em;
  }


}